In [1]:
import pandas as pd

In [2]:
pd.read_csv('distinct_users_from_search_table_real_map.csv')

          user_id user_screen_name  indegree  outdegree  bad_user_id
0       147240385       Barra_Fake       540         34    119586070
1        97515585     Thamiris1996       229        294     86129642
2       164770319       ReehMuruci      3821       2827    132235657
3       184345993          LAUPAJU        27        208    147868857
4        14900835        DJBizonee       333        193    109202294
...           ...              ...       ...        ...          ...
736925   54941426     THahnBurkett       329        255     27644690
736926   24031301        PDXrealty      1747       1770      9640356
736927   20670372      SEOJobsinUK       260         14      5196478
736928  127694892   Mari_GMonteiro       323        147    106034427
736929  107992855     citizenkane_      5871        213     95297438

[736930 rows x 5 columns]

In [4]:
pd.read_csv('link_status_search_with_ordering_real.csv', on_bad_lines='skip')

,link,id,create_at,create_at_long,inreplyto_screen_name,inreplyto_user_id,source,bad_user_id,user_screen_name,order_of_users,user_id
0,http://gd.is/4nfm,25435023138,2010-09-24 00:00:00,1285358980000,\N,-1,"<a href=""http://mobile.twitter.com"" rel=""nofol...",119586070,barra_fake,616,147240385
1,http://gd.is/4nfm,25439610259,2010-09-24 00:00:00,1285363164000,\N,-1,"<a href=""http://mobile.twitter.com"" rel=""nofol...",119586070,barra_fake,652,147240385
2,http://is.gd/f4wDA,25444403307,2010-09-24 00:00:00,1285367458000,\N,-1,"<a href=""http://tinyurl.com/3xakwys"" rel=""nofo...",119586070,barra_fake,3009,147240385
3,http://is.gd/f4wDA,25451679785,2010-09-24 00:00:00,1285373674000,\N,-1,"<a href=""http://tinyurl.com/3xakwys"" rel=""nofo...",119586070,barra_fake,3182,147240385
4,http://lc4.in/2KAJ,25446362980,2010-09-24 00:00:00,1285369191000,\N,-1,"<a href=""http://www.apple.com"" rel=""nofollow"">...",119586070,barra_fake,4580,147240385
...,...,...,...,...,...,...,...,...,...,...,...
2859597,http://bit.ly/cGBs1p,26093155946,2010-10-01 00:00:00,1285948915000,\N,-1,"<a href=""http://www.tweetdeck.com"" rel=""nofoll...",27644690,THahnBurkett,2,54941426
2859598,http://dlvr.it/6HwjJ,26109826400,2010-10-01 00:00:00,1285962320000,\N,-1,"<a href=""http://dlvr.it"" rel=""nofollow"">dlvr.i...",9640356,PDXrealty,3,24031301
2859599,http://jobsurl.com/gjEN,26083740590,2010-10-01 00:00:00,1285942749000,\N,-1,"<a href=""http://www.twitjobsearch.com/"" rel=""n...",5196478,SEOJobsinUK,1,20670372
2859600,http://bit.ly/btBwtl,26109799587,2010-10-01 00:00:00,1285962296000,\N,-1,"<a href=""http://www.tweetdeck.com"" rel=""nofoll...",106034427,Mari_GMonteiro,3,127694892
2859601,http://bit.ly/btBwtl,26111494674,2010-10-01 00:00:00,1285963875000,\N,-1,"<a href=""http://twitter.com/"">web</a>",95297438,citizenkane_,7,107992855